@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

*{
    margin: 0;
    padding: 0;
}

.body{
    min-height: 100vh;
    background: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: 105vw 105vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scoreBox{
    position: absolute;
    top: 9px;
    right: 100px;
    font-size: 39px;
    font-weight: bold;
    font-family: "New Tegomin", serif;
}

#board{
    background-color:yellowgreen;
    height: 92vmin;
    width: 90vmin;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(18,1fr);
    grid-template-rows: repeat(18,1fr);
}

.head{
    background: linear-gradient(red,yellow) !important;
    border: 2px solid purple;
    border-radius: 9px;
    transform: scale(1.05);
}

.snake{
    background-color: purple;
    border: .25vmin solid white;
    border-radius: 12px;
}

.food{
    background: linear-gradient(red,purple);
    border: .25vmin solid white;
    border-radius: 8px;
}